* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

:root {
    --text-color: rgba(0, 0, 0, 0.6);
    --box-size-w: 0.5vw;
    --box-size-h: 0.5vh;
}

/* Typefaces */
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    padding: 3vh;
    /* color: rgba(255, 100, 150, 1); */
    color: rgba(50, 50, 50, 0.8);
}

h2 {
    background: linear-gradient(147deg, 
    rgba(249,15,216,1) 0%, 
    rgba(245,67,119,1) 26%, 
    rgba(252,28,28,1) 50%, 
    rgba(255,195,13,1) 75%, 
    rgba(114,251,89,1) 100%);
    background-size: cover;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
    text-align: center;
    align-items: center;
    font-family: var(--ff-primary);
    margin: 0;
 }

 h3 {
     color: rgba(150, 255, 255, 0.8);
     text-align: center;
     font-size: 2vh;
     margin-bottom: 2vh;
 }

 h4 {
     text-align: center;
     font-size: 2vh;
     margin: 2rem;
     color: rgba(255, 255, 255, 0.8);
 }

.text {
    margin: 2rem;
    color: rgba(255, 255, 255, 0.8);
    /* text-shadow: 2px 2px rgba(0, 0, 0, 0.4); */
}

.text-link {
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
}

.link-home {
    color: rgba(50, 50, 50, 0.8);
    padding: 0px;
    margin: 5vh;
    font-size: 3vh;
}

.notebox-base-container {
    width: calc(140 * var(--box-size-w));
}

.notebox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.notebox {
    font-size: calc(2 * var(--box-size-w));
    display: flex;
    margin: calc(2 * var(--box-size-h));
    padding: calc(2 * var(--box-size-w));
    border-style: solid;
    flex-wrap: wrap;
    width: calc(50 * var(--box-size-w));
    justify-content: center;
}

.notebox-h1 {
    font-size: calc(3 * var(--box-size-w));
    border-style: solid;
    font-weight: bold;
    width: inherit;
}

.notebox-stats {
    border-style: solid;
    font-weight: bold;
    margin: calc(1 * var(--box-size-w)) calc(0 * var(--box-size-h));
    padding: calc(1 * var(--box-size-w));
    text-align: center;
    align-items: center;
    width: inherit;
}

.notebox-box-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
}

.notebox-box {
    /* padding: 1vw; */
    padding: calc(0.5 * var(--box-size-h)) calc(0.5 * var(--box-size-w));
}

.notebox-box-title {
    min-width: calc(12 * var(--box-size-w));
    border-style: solid;
}

.notebox-box-body {
    border-top: 0;
    border-style: solid;
    padding: calc(2 * var(--box-size-h)) calc(0 * var(--box-size-w));
}

.notebox-input-container {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.notebox-input {
    color: var(--text-color);
    background-color: rgba(0,0,0,0);
    border-color: var(--text-color);
    font-family: inherit;
    padding: 2vh, 2vw;
    border-style: solid;
    border-radius: 0;
    border-color: var(--text-color);
    margin: calc(0.3 * var(--box-size-h)) calc(0.3 * var(--box-size-w));
    padding: calc(0.25 * var(--box-size-h)) 0vw;
    text-transform: uppercase;
    width: calc(32 * var(--box-size-w));
    height: calc(6 * var(--box-size-h));
} :focus {
    outline: none;
}

.notebox-input-button {
    border-color: var(--text-color);
    width: calc(64 * var(--box-size-w));
    height: calc(6 * var(--box-size-h));
    margin: calc(5 * var(--box-size-w));
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}
.notebox-input-button:hover {
    background-color: rgba(0,0,0,0.4);
    transition-duration: 0.5s;
}

main {
    /* Set specific height  */
    min-height: 100vh;
    min-width: 100vw;

    /* Background image  */
    /* background: linear-gradient(to right top, #b882ff, #ca6f53); */
    /* background-image: url(../bridge.jpg); */
    /* background: linear-gradient(to right top, rgb(255, 193, 101) rgb(255, 163, 247)); */
    /* background: linear-gradient(to right top, #c294ff, #ff8e6c); */


    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Background parallax */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.glass {
    width: 80%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.04)
        );
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(0.5rem);
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 3;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.1)
}

a {
    text-decoration: none;
}

/* .btn-grad {background-image: linear-gradient(to right bottom, #314755 0%, #26a0da  51%, #314755  100%)} */
.btn-grad {background-image: linear-gradient(
    to right bottom, 
    rgba(255, 255, 255, 0.1), 
    rgba(255, 255, 255, 0.08)
    );}
.btn-grad {
   margin: 1rem;
   padding: 0.1rem 0.1rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 100% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 2rem;
   display: block;
   border: 1px solid;
   border-color: rgba(255, 255, 255, 0.1)
 }

 .btn-grad:hover {
   background-position: left top; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   background-image: linear-gradient(
    to right bottom, 
    rgba(255, 255, 255, 0.2), 
    rgba(255, 255, 255, 0.16)
    );
 }


.circle1, 
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.3)
        );
    height: 20rem;
    width: 20rem;
    /* Allow moving anywhere */
    position: absolute; 
    z-index: 2;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;}
.circle2 {
    bottom: 5%;
    left: 10%;
}

/* Canvas */
canvas {
    padding-left: 0;
     padding-right: 0;
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: 100%;
 }