body {
  font-family: system-ui, sans-serif;;
  background: #d0acac;
  color: white;
  text-align: center;
}

.header {
  padding: 5px;
  text-align: center;
  background: #721abc26;
  color: white;
  font-size: 20px;
}
